*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainfirst{
    display: block;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    
}

.h1name{
    width: 100%;
    height: 100%;
    background-color: azure;
    text-align: center;
}

.h1name:hover{
    background-color: blue;
    color: aliceblue;
    
}

.h3paragraph{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}